/* Custom stylesheet */
body {
    padding-bottom:50px;
}
.usa-label {
    font-weight:600;
    margin-top:20px;
}

.usa-form-custom .row{
    margin-top:25px;
}

.usa-input, .usa-select {
    max-width: 100%;
}

.usa-helptext{
    font-size: 0.8rem;
    padding-top: 0;
    margin-top: 5px;
    margin-bottom: 3px;
}

textarea.usa-input {
    min-height:100px;
}


/* navigation */
.app_navigation {
    margin-top:50px;
    margin-bottom:60px;
    width:100%;
    cursor: pointer;
}

.app_navigation .navsec {
    width:33.3%;
    background-color:#F0F0F0;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
}

.app_navigation .navsec.active {
    background-color:#DCDEE0;
}

.app_navigation .navsec label {
    cursor: pointer;
    font-weight:600;
}